<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏分析</title>


</head>
<body>
<p>游戏分析</p>
{% load static %}
<img src='{% static "vgsales.png" %}'  alt="基于回归分析结果" />

</body>
</html>